body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/full-bg.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

.container {
    margin: 0 15px;
}

h1, h2 {
    font-family: 'Alata', sans-serif;
    font-size: 25px;
}

h3 {
    font-size: 13px;
}

a {
    color: #250240;
    text-decoration: underline;
}

nav {    
    font-family: 'Alata', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-ul li {
    padding: 0 22px;
    font-size: 13px;
}

nav ul .works {
    padding-right: 0;
}

.nav-container {
    padding: 15px 0;
}

.nav-a {
    color: #fff;
    text-decoration: none;
}

.purple-nav {
    color: #250240;
}

.current {
    text-decoration: underline;
}

.logo a {
    font-size: 15px;
}

.header-h1 {
    font-size: 30px;
    margin-bottom: 34px;
}

p {
    font-size: 13px;
    line-height: 1.2em;
}

.container-2 {
    margin: 0 36px;
}

.header-txt {
    color: #fff;
    text-align: center;
    padding: 165px 0 170px 0;
}

/** END HEADER STYLES **/

.white-overlay {
    background-color: rgba(255,255,255,0.65);;
}

.my-projects h2 {
    padding: 20px 0;
}

.uppercase {
    text-transform: uppercase;
}

.p-img, .img-main {
    width: 100%;
}

.cover {
    position: relative;
    max-width: 100%;
}
.cover img.img-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}


.cover {
    margin-bottom: 15px;
}

.three {
    margin-bottom: 0;
}

.more {
    font-size: 13px;
    display: block;
    text-align: right;
    padding: 30px 0 37px 0;
}

.about-img {
    margin: 15px 42px;
}

.about-img img {
    width: 100%;
}

.about-txt {
    color: #fff;
    margin-bottom: 34px;
}

.about-txt h2 {
    margin: 10px 0 20px 0;
    text-align: center;
}

.about-txt p {
    margin-bottom: 13px;
}

.social-media-contact img {
    height: 20px;
}

.contact {
   padding: 50px 0;
   align-items: center;
   justify-self: center;
}

.contact, .social-media-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact h2 {
    align-self: center;
    margin-right: 30px;
}

.email {
    margin-bottom: 28px;
    font-size: 11px;
}

.work-with-me {
    padding: 56px 0 110px 0;
    text-align: center;
}

.white-txt {
    color: #fff;
}

.wwm-a {
    font-size: 27px;
    margin-top: 52px;
}

.my-works img {
    width: 100%;
}

.my-works {
    padding-top: 60px;
}

.carousel-cell {
    width: 80%;
    margin-right: 10px;
}



/** END MAIN STYLES **/

footer {
    background-color: #250240;
    padding: 9px 0;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media {
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media svg {
    padding-right: 25px;
}

.copyright-txt {
    color: #fff;
    font-size: 8px;
}

/** END FOOTER STYLES **/


      /**                               /
     /         TABLET STYLE            /
    /                               **/

@media screen and (min-width: 605px) {

    .container {
        margin: 0 20px;
    }
    
    h1, h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 15px;
    }

    .nav-ul li {
        padding: 0 25px;
        font-size: 20px;
    }

    .nav-container {
        padding: 17px 0;
    }
    .logo a {
        font-size: 25px;
    }
    
    .header-h1 {
        font-size: 54px; 
    }
    /** END HEADER STYLES **/  

    p {
        font-size: 16px;
        line-height: 1.2em;
    }

    .container-2 {
        margin: 0 59px;
    }
    
    .header-txt {
        padding: 97px 0 125px 0;
    }

    .projects-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .cover {
        margin-bottom: 0px;
        margin-right: 15px;
    }

    .three {
        margin-right: 0;
    }
    
    .more {
        font-size: 15px;
        padding: 27px 0 27px 0;
    }
    
    .about-img {
        margin: 25px 175px;
    }

    .about-txt {
        margin-bottom: 60px;
    }
    
    .about-txt h2 {
        margin: 25px 0 20px 0;
    }
    
    .about-txt p {
        margin-bottom: 16px;
    }
    
    .social-media-contact img {
        height: 25px;
    }
    
    .contact {
       padding: 87px 0;
    }
    
    .email {
        font-size: 15px;
    }
    
    .work-with-me {
        padding: 70px 0 70px 0;
    }
    
    .tablet-wwm {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .tablet-wwm-a {
        font-size: 15px;
        margin-top: 0;
    }
    
    .carousel-cell {
        width: 70%;
        margin-right: 20px;
    }


    /** END MAIN STYLES **/

    footer {
        padding: 11px 0;
    }
    
    .social-media {
        height: 10px;
    }
    
    .social-media svg {
        padding-right: 40px;
    }
    
    .copyright-txt {
        font-size: 10px;
    }

    /** END FOOTER STYLES **/

    }

      /**                               /
     /         DESKTOP STYLE           /
    /                               **/

@media screen and (min-width:920px) {

    .container {
        margin: 0 50px;
    }
    
    h1, h2 {
        font-size: 35px;
    }
    
    h3 {
        font-size: 18px;
    }

    .nav-ul li {
        padding: 0 33px;
        font-size: 20px;
    }

    .nav-container {
        padding: 25px 0;
    }

    .logo a {
        font-size: 28px;
    }
    
    .header-h1 {
        font-size: 60px;
        margin-bottom: 55px;
    }
    
    p {
        font-size: 18px;
        line-height: 1.2em;
    }

    .container-2 {
        margin: 0 140px;
    }
    
    .header-txt {
        padding: 15% 0 20% 0;
    }
    
    /** END HEADER STYLES **/  

    .my-projects h2 {
        padding: 30px 0;
    }

    .cover {
        margin-bottom: 0px;
        margin-right: 23px;
    }

    .three {
        margin-right: 0;
    }
    
    .more {
        font-size: 18px;
        padding: 40px 0 55px 0;
    }
    
    .about {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .about-img {
        margin: 40px 60px 60px 0;
    }

    .about-txt {
        margin: 0 0 34px 0;
        align-self: center;
    }
    
    .about-txt h2 {
        margin: 0 0 40px 0;
        text-align: left;
    }
    
    .about-txt p {
        margin-bottom: 18px;
    }
    
    .social-media-contact img {
        height: 25px;
    }
    
    .contact {
       padding: 100px 0;
    }
    
    .email {
        margin-bottom: 47px;
        font-size: 18px;
    }
    
    .work-with-me {
        padding: 80px 0 80px 0;
    }
    
    .wwm-a {
        font-size: 60px;
    }

    .tablet-wwm-a {
        font-size: 18px;
        margin-top: 0;
    }
    
    .my-works {
        padding-top: 20px;
    }
    
    .carousel-cell {
        width: 30%;
        margin-right: 10px;
    }
    .cover:hover img.img-hover {
        opacity: 1;
    }
    /** END MAIN STYLES **/

    footer {
        padding: 15px 0;
    }
    
    .social-media {
        height: 15px;
    }
    
    .social-media svg {
        padding-right: 50px;
    }
    
    .copyright-txt {
        font-size: 14px;
    }

    /** END FOOTER STYLES **/

}