body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/full-bg.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

.container {
    margin: 0 15px;
}

h1, h2 {
    font-family: 'Alata', sans-serif;
    font-size: 25px;
}

a {
    color: #250240;
    text-decoration: underline;
}

nav {    
    font-family: 'Alata', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-ul li {
    padding: 0 22px;
    font-size: 13px;
}

nav ul .works {
    padding-right: 0;
}

.nav-container {
    padding: 15px 0;
}

.nav-a {
    color: #fff;
    text-decoration: none;
}

.purple-nav {
    color: #250240;
}

.current {
    text-decoration: underline;
}

.logo a {

    font-size: 15px;
}

.header-h1 {
    font-size: 30px;
    margin-bottom: 34px;
}

p {
    font-size: 13px;
    line-height: 1.2em;
}



.container-2 {
    margin: 0 36px;
}

.header-txt {
    color: #fff;
    text-align: center;
    padding: 165px 0 170px 0;
}

/** END HEADER STYLES **/

.white-overlay {
    background-color: rgba(255,255,255,0.65);;
}

.my-projects h2 {
    padding: 20px 0;
}

/** EDIT PURPLE IMAGES AND DISPLAY NONE WHEN HOVERED**/

.uppercase {
    text-transform: uppercase;
}

.p-img {
    width: 100%;
}

.about-img {
    margin: 15px 42px;
}

.about-img img {
    width: 100%;
}

.about-txt {
    color: #fff;
    margin-bottom: 34px;
}

.about-txt h2 {
    margin: 10px 0 20px 0;
    text-align: center;
}

.about-txt p {
    margin-bottom: 13px;
}

.social-media-contact img {
    height: 20px;
}

.contact {
   padding: 50px 0;
}

.contact, .social-media-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact h2 {
    align-self: center;
}

.email {
    margin-bottom: 28px;
}

/** END MAIN STYLES **/

footer {
    background-color: #250240;
    padding: 9px 0;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media {
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media svg {
    padding-right: 25px;
}

.copyright-txt {
    color: #fff;
    font-size: 8px;
}

/** END FOOTER STYLES **/



      /**                               /
     /         TABLET STYLE            /
    /                               **/

@media screen and (min-width: 605px) {
    /** END HEADER STYLES **/
    /** END MAIN STYLES **/
    /** END FOOTER STYLES **/
    }


      /**                               /
     /         DESKTOP STYLE           /
    /                               **/

@media screen and (min-width:920px) {
    /** END HEADER STYLES **/
    /** END MAIN STYLES **/
    /** END FOOTER STYLES **/
}